    @charset "utf-8";

    body{
        color: #33b7d2;
        background-color: #303030;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    a:link{
        color: #ff9900;
    }
    a:visited{
        color: #ff9900;
    }
    a:hover{
        color: #ffffff;
    }
    a:active{
        color: #33b7d2;
    }

    h1{
        font-family: Arial, Helvetica, sans-serif;
    }
    .navbar2{
        position: fixed;
        top: 2em;
        left: 1em;
        width: 18em;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #303030;
    }
    ul.navbar2 li{
        background-color: #33b7d2;
        margin: 0.5em 0;
        padding: 0.3em;
        border-right: 1em #ff9900;
    }
    ul.navbar2 a{
        text-decoration: none;
    }
    address{
        margin-top: 1em;
        padding-top: 1em;
        border-top: thin dotted;
    }